.jumbotron {
  height: 25vh;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.jumbotron h1 {
  text-align: right;
  margin: 0;
  padding-bottom: 3vh;
}

.jumbotron:hover {
  background-image: url(../img/self-portrait.png);
  background-position: center;
}

.jumbotron h3 {
  padding-top: 3vh;
  padding-bottom: 1vh;
  margin: 0;
}


body {
  background-image: url(../img/background.jpg);
  color: white;
  margin: 0;
}

.row {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  height: 25vh;
  margin: 0;
  padding: 0;
  margin-bottom: 2vh;
}

.row div a {
  color: white;
}

.container-fluid .row:nth-child(2) .col-md-6 h2 {
  padding-top: 10vh;
}

#buttons {
  padding-top: 10vh;
}

#buttons:hover {
  background-image: url(../img/pentagram.png);
  background-size: 100% 100%;

}

.footer {
  height: 10vh;
  margin: 0;
  padding: 0;
  padding-left: 13vh;
}

.footer:hover {
  background-image: url(../img/doot.gif);
  background-position: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.navbar:hover {
  background-image: url(../img/doot.png);
  background-position: center;
}

.navbar:hover li {
  color: white;
}

.art img {
  width: 100%
}

.container-fluid p {
  text-align: center;
  margin-top: 5vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  font-size: 10vh;
}

.container-fluid p:hover {
  background-image: url(../img/knife.png);
  background-size: 100% 100%;
}

#email span {
  background: rgba(0, 255, 255, 0.5);
}

#sites .row {
  margin: 0;
  height: 45vh;
}

#sites .row:last-of-type {
  height: 30vh;
}

#sites h1 {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#baseball h1 {
  padding-top: 13vh;
  padding-bottom: 10vh;
}

#music .row {
  margin: 0;
  height: 45vh;
}

#music h1 {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#wikipedia:hover {
  background-image: url(../img/wikipedia-copy.png);
  background-position: center;
    background-size: cover;
}

#baseball:hover {
  background-image: url(../img/baseball-copy.png);
    background-size: cover;

}

#pets:hover {
  background-image: url(../img/faux-pet-copy.png);
  background-position: center;
    background-size: cover;
}

#vacation:hover {
  background-image: url(../img/vacation-copy.png);
  background-position: center;
  background-size: cover;
}

#macrophage:hover {
  background-image: url(../img/macrophage.png);
  background-position: center;
    background-size: cover;
}

#recent-tracks:hover {
  background-image: url(../img/recent-tracks.png);
  background-position: center;
    background-size: cover;
}

#chiptunes:hover {
  background-image: url(../img/chiptunes.png);
  background-position: center;
    background-size: cover;
}

#videos:hover {
  background-image: url(../img/videos.png);
  background-position: center;
  background-size: cover;
}


.col-md-4 h1 {
  color: white;
}

.col-md-12 h1 {
  color: white;
}

.col-md-6 h1 {
  color: white;
}

.well {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width:992px) {
  #sites h1{
    padding: 3vh;
  }

  #music h1 {
    padding: 7vh;
  }

  #buttons h2 {
    padding: 5vh
  }

  .footer {
    margin-top: 25vh;
  }
}
